@media screen {
    .printContent {
      display: none;
      position: relative;
     
    }
  }
  @media all {
    .page-break {
      display: none;
    }
  }
  @media print {
    html{
      size: 104.775mm 148.5194mm;
    }
    body{
        display: table;
        table-layout: fixed;
        margin: 25px;
        height: auto;
   }
   header{
    border-bottom: 1px solid #000;
   }
   .printContent{
    /* margin-left:20px; */
   }
   .printContent .printBody, .printContent header {
    clear:both;
    position:relative;
    overflow:hidden;
  }
 
   .printContent header h3,.printContent header h5{
    text-align:center;
    font-size:11px
   }
   .printContent header img{
    float: left;
    /* margin-right: 20px; */
    /* margin-left:20px; */
    max-width:60px;
    height:auto;
 }
 .printBody{
  font-size:11px;
  margin-top:10px;
 }
 .printBody  h4{
  text-align:center;
  margin-bottom:20px;
  margin-left:50px;
  font-size:11px
 }
 .printBody  p{
  line-height: 1px;
 }
 .printBody .center{
  text-align: center;
 }
 @page {
  size: 104.775mm 148.5194mm;
  width: 100%;
  margin:0px
}
  }